body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    background-color: rgb(210, 190, 229);
    position: fixed;
    top: 0px; 
    width: 100%;
    height: 120px;
    text-align: center;  
}
       
#nav{
    text-align: left;
    margin-left: 40px;
}

#minha_foto{
    margin-top: 120px;
    margin-left: 40px;
    width: 150px;
    border-radius: 30%;
}

#Lições{
    display: inline-block;
}

#licoes_aprendidas{
    margin-top: 80px;
}

#licoes_a_aprender{
    margin-top: 100px;
}

#rodape{
    margin-top: 200px;
}
.button{
    text-decoration: none;
    margin-left: 150px;
    line-height: 10px;
    padding: 15px;
    background:rgb(210, 190, 229);
    border-radius: 4px;
    display: block;
    width: 80px;
    text-align: center;
    font-weight: 700;
}