body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    background-color: rgb(210, 190, 229);
    position: fixed;
    top: 0px; 
    width: 100%;
    height: 120px;
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: #fff;
}
       
#nav{
    text-align: left;
    margin-left: 40px;
   
}

a{
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  justify-content: space-around; 
}

#minha_foto{
    margin-top: 120px;
    margin-left: 30px;
    width: 150px;
    border-radius: 30%;
}

section{
    background-color: rgb(210, 190, 229);
    margin-left: 80px;
    display: inline-block;
    width: 35%;
    
}

#rodape{
    margin-top: 150px;
    text-align: center;
}
.button{
    text-decoration: none;
    margin-left: 400px;
    line-height: 10px;
    padding: 15px;
    background:rgb(210, 190, 229);
    border-radius: 4px;
    display: block;
    width: 80px;
    text-align: center;
    font-weight: 700;
}
.color{
    color: rgb(163, 105, 218);
}

.paragraph{
    font-size: 18px;
}

img, aside{
    display: inline-block;
    width: 76%;
}